.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #eee;
    height: 100%;
  
    .paginationContainer{
        text-align: center;
        margin: 30px 0;
    }
}
